{% extends "layout.html.twig" %}

{% block content %}
	{% if errorDelete %}
		<p class="error-form error-delete">Il ne peut pas ne plus y avoir d'administrateur !</p>

	{% endif %}

	<div class="container container-management my-5">
		<div class="row text-center  ">
			<div class="col-2 nav-management">
				<a href="index.php?action=management-user" class="btn-style-link">Utilisateurs</a>
			</div>
			<div class="col-2 nav-management">
				<a href="index.php?action=management-articles" class="btn-style-link">Articles</a>
			</div>
		</div>

		{% for user in users %}
			<div class="row my-2 text-center line-user">
				<div class="col-3">
					<p class="inline">{{user.name}}
						{{user.firstname}}</p>
				</div>
				<div class="col-3">
					<p class="inline">{{user.email}}</p>
				</div>
				<div class="col-3 form-role">
					<form class="inline" action="index.php?action=change-role&email_user={{user.email}}" method="post">

						{% if user.isAdmin() %}
							<select name="select-role">
								<option value="admin">Admin</option>
								<option value="user">Utilisateur</option>
							</select>
							<button type="submit" class=" btn btn-primary">V</button>
						{% else %}
							<select name="select-role">
								<option value="user">Utilisateur</option>
								<option value="admin">Admin</option>
							</select>
							<button type="submit" class="btn btn-primary">V</button>
						{% endif %}
					</form>

				</div>


				<div class="col-3 form-role">
					{% if confirm and idUser == user.id %}
						<form class="form-role" action="index.php?action=delete-user&id_user={{user.id}}" method="post">
							<div>
								<p>êtes vous sûr ?</p>
								<div class="row">
									<div class="col-6">
										<button type="submit" class="col-1 btn btn-primary btn-delete-user">Oui</button>
									</div>
									<div class="col-6">

										<a href="index.php?action=management-user" class="col-1 btn btn-primary btn-delete-user">Non</a>
									</div>
								</div>
							</div>
						</form>

					{% else %}
						<form class="form-role" action="index.php?action=confirm-delete&id_user={{user.id}}" method="post">

							<button type="submit" class="col-1 btn btn-primary btn-delete-user">Supprimer l'utilisateur</button>
						</form>

					{% endif %}

				</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}
