{% extends "layout.html.twig" %}

{% block content %}
	<div class="container container-management mt-5">
		<div class="row text-center  ">
			<div class="col-2 nav-management">
				<a href="index.php?action=management-user">Utilisateurs</a>
			</div>
			<div class="col-2 nav-management">
				<a href="index.php?action=management-articles">Articles</a>
			</div>
		</div>

		{% for user in users %}
			<div class="row my-2 text-center line-user">
				<div class="col-3">
					<p class="inline">{{user.name}}
						{{user.firstname}}</p>
				</div>
				<div class="col-3">
					<p class="inline">{{user.email}}</p>
				</div>
				<div class="col-3 form-role">
					<form class="inline" action="index.php?action=change-role&email_user={{user.email}}" method="post">

						{% if user.admin == 1 %}
							<select name="select-role">
								<option value="admin">Admin</option>
								<option value="user">Utilisateur</option>
							</select>
							<button type="submit" class=" btn btn-primary">V</button>
						{% elseif user.admin == 0 %}
							<select name="select-role">
								<option value="user">Utilisateur</option>
								<option value="admin">Admin</option>
							</select>
							<button type="submit" class="btn btn-primary">V</button>
						{% endif %}
					</form>

				</div>


				<div class="col-3 form-role">
					<form class="form-role" action="index.php?action=delete-user&id_user={{user.id}}" method="post">
						<button type="submit" class="col-1 btn btn-primary btn-delete-user">Supprimer l'utilisateur</button>
					</form>
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}
